.redeem-content h1 {
   font-size: 20px;
   font-weight: normal;
   padding: 10px 20px 5px 20px;
   color: #444;
   text-align: center;
}

.redeem-content2 {
   font-size: 15px;
   font-weight: normal;
   color: #777;
   text-align: center;
}
.redeem-content3 {
   font-size: 10px;
   font-weight: normal;
   color: #777;
   text-align: center;
}

.redeem-image{
   padding: 5px 10px 10px 10px;
}

.redeem-headline h2{
   font-size: 20px;
   margin-top: 5px;
   color:#ffffff;
   background:#11b3ef;
   text-align: left;
   padding: 10px 10px 10px 10px;

}

.redeembody-compaign{
   display: block;
   white-space:pre-line;
   font-size: 16px;
}
.redeembody-qr{
   display: block;
   white-space:pre-line;
   font-size: 14px;
}

.redeem-btn {
   display: block;
   border-radius: 3px;
   color: #ffffff;
   background: rgba(17, 179, 240, 1);
   font-size: 30px;
   text-align: center;
   margin-bottom: 10px; 
   padding-top: 20px;
   padding-bottom: 15px;
}

.redeem-show-shop {
  display: block;
  border-radius: 3px;
  color: #ffffff;
  background: rgb(17, 179, 240, 1);
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px; 
  padding-top: 20px;
  padding-bottom: 15px;
}



.redeem-code{
  display: block;
  border-radius: 5px;
  border: 4px solid  rgba(200, 0, 0);
  color: #00f000;
  background: rgba(100, 100, 100);
  font-size: 75px;
  text-align: center;
  margin-bottom: 20px; 
  padding-top: 20px;
  padding-bottom: 15px;
}

.redeem-btn2 {
  display: block;
  border-radius: 3px;
  color: #ffffff;
  background: rgb(200, 200, 200);
  font-size: 18px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px; 
}

.redeemshow a:hover{
  color: #ffffff;
  text-decoration: none;
}

.redeemshow a:active{
  color:#ffffff;
  text-decoration: none;
}

.redeemshow a{
  color:#ffffff;
   text-decoration: none;
}

.redeemhide a:hover{
  color: #ffffff;
  text-decoration: none;
}

.redeemhide a:active{
  color:#ffffff;
  text-decoration: none;
}

.redeemhide a{
  color:#ffffff;
   text-decoration: none;
}

.redeemed-error h1 {
  background:#f44;
  color:#fff;
  font-size: 18px;
  text-align: center;
  padding: 40px 20px;
}
.redeemed-error div {
  text-align: center;
  font-size: 12px;
}

.redeemed-success h1 {
  background:#1a1;
  color:#fff;
  font-size: 25px;
  text-align: center;
  padding: 40px 20px;
}

.redeemed-success div {
  text-align: center;
  font-size: 12px;
}

.redeemed-failure h1 {
  background:#f44;
  color:#fff;
  font-size: 30px;
  text-align: center;
  padding: 40px 20px;
}

.redeemed-failure div {
  text-align: center;
  font-size: 12px;
}

.redeemContent{
  display: block;
}

.redeemForm{
  background: #ffffff;
  border-radius: 9px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

  display: none;
}

.show-redeem-code{
  position: fixed;
  bottom: 15px;
  left: 20px;
  font-size: 20px;
  color:#00FF00;
  text-align: center;
  padding: 10px 20px;
}

.redeemstatus-secretcode {
  margin-top: 60px;
}
.redeemstatus-secretcode h1 {
  font-size: 20px;
  color:#000000;
  text-align: center;
  padding-bottom: 5px;
}
.redeemstatus-secretcode div {
  font-size: 30px;
  text-align: center;
  background: #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
  color:rgb(5, 119, 21);
}

.redeem-barcode{
  margin-top: 50px;
  text-align: center;
}

