.redeem-content h1 {
   font-size: 50px;
   font-weight: normal;
   padding: 10px 20px 5px 20px;
   color: #444;
   text-align: center;
}

.redeem-content2 {
   font-size: 25px;
   font-weight: normal;
   color: #777;
   text-align: center;
}
.redeem-content3 {
   font-size: 20px;
   font-weight: normal;
   color: #777;
   text-align: center;
}

.redeem-image{
   padding: 5px 30px 10px 30px;
}

.redeem-headline {
   margin-top: 10px;
   color:#ffffff;
   background:#11b3ef;
   text-align: left;
   padding: 5px 10px 10px 10px;

}

.redeembody-compaign{
   display: block;
   white-space:pre-line;
   font-size: 20px;
}
.redeembody-qr{
   display: block;
   white-space:pre-line;
   font-size: 18px;
}

.redeem-btn {
   display: block;
   border-radius: 3px;
   color: #ffffff;
   background: rgba(17, 179, 240, 1);
   font-size: 30px;
   text-align: center;
   height: 80px;
   line-height: 80px;
   margin-bottom: 50px; 
}


.redeem-btn a{
   text-decoration: none;
}

.redeem-btn a:link, .redeem-btn a:visited {
   color: #EEEEEE;
}

.redeem-btn a:hover{
   color:#FFFFFF;  
}

 .redeem-btn a:active{
   color:#FFFFFF;
}

.redeemed-error h1 {
  background:#f44;
  color:#fff;
  font-size: 50px;
  text-align: center;
  padding: 40px 20px;
}
.redeemed-error div {
  text-align: center;
  font-size: 20px;
}

.redeemed-ok h1 {
  background:#1a1;
  color:#fff;
  text-align: center;
  padding: 40px 20px;
}